/* BASE FILE */
@font-face {
    font-family: 'IBMPlexSansKR-Text';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Text.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
}

.wrap{
    max-width: 1100px;
    /* height: 100vh; */
    /* border-left: 1px solid #e4e4e4; */
    /* border-right: 1px solid #e4e4e4; */
    margin: 0 auto;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.16);

}

header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    /* background-color: aliceblue; */
}

.__logo {
    display: flex;
    align-items: center;
}

.__logo img {
    width: 140px;
    height: 50px;
    margin: 10px;
}

.__menu_box {
    display: flex;
    align-items: center;
}

.__menu {
    display: inline-block;
}

.__menu>li {
    display: inline-block;
    /* position: absolute; */
    padding: 10px 5px;
    font-size: 18px;
    position: relative;
}

.__menu_list::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1BBCF0;
    transition: .5s;
}

.__menu_list:hover::after {
    width: 40%;
}

.__login {
    margin: 0px 30px 0px 20px;
    border: 2px solid #1BBCF0;
    padding: 5px 10px;
    border-radius: 20px;
}


.__depth2 {
    display: none;
    position: absolute;
    text-align: center;
    margin-top: 20px;
}

.__menu_list:hover .__depth2 {
    display: block;
}

.__depth2 li {
    padding: 2px 0px;
}

.__depth2>li>a {
    display: block;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 170px;
    background-color: #f8f8f8;
}

.__contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 40px;
}

.__text {
    width: 300px;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    color: #1BBCF0;
}

.__icons {
    display: flex;
    justify-content: center;
    width: 300px;
}

.__icons a i {
    margin: 10px 5px;
    font-size: 20px;
    color: lightgray;
}

.__logo2 {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.__logo2>img {
    width: 80px;
    height: 80px;
}

.__copyright {
    display: flex;
    align-items: center;
    font-size: 22px;
    margin-left: 20px;
}

.__copyright span {
    font-weight: 600;
    margin-right: 10px;
}

.__box_left {
    display: flex;
}


/* ------------ BASE CUTTING ---------------- */

.contents_wrap {
    width: 100%;
}


.content{
    margin: 0 auto;
    min-width: 1080px;
    height: 500px;
}

.content:nth-child(1) {
    background-color: white;
}

.content:nth-child(2) {
    background-color:wheat;
}



/* rolling banner */
.rolling_banner {position: relative; width: 1080px; height: 500px;  margin:0 auto; padding:0; overflow: hidden;}
.rolling_banner ul {position: absolute; margin: 0px; padding:0; list-style: none; }
.rolling_banner ul li {float: left; width: 1080px; height: 500px; margin:0; padding:0;}
.rolling_banner ul li img{ width: 1080px; height: 500px;}