/* 폰트 정의 - Light, Text, Bold */

@font-face {
    font-family: 'IBMPlexSansKR-Text';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Text.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------------- */

:root {
    --main-width: 1100px;
    --SCH-skyblue: #1BBCF0;
}

body {
    min-width: 1000px;
}

/* 헤더 */

header {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: var(--main-width);
    /* background-color: aliceblue; */
}

.header-box img {
    width: 112px;
    height: 40px;
    margin: 10px;
    padding: 5px 0 0 0;
}

nav {
    padding: 10px 0 0 0;
}

nav ul li {
    font-family: 'IBMPlexSansKR-Light';
    display: inline-block;
    padding: 10px 5px;
    font-size: 18px;
    position: relative;
}

nav ul li::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--SCH-skyblue);
    transition: .5s;
}

nav ul li:hover::after {
    width: 30%;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.login-box {
    font-family: 'IBMPlexSansKR-Light';
    color: black;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0%);
    padding: 5px 10px;
    border-radius: 20px;
    transition: .4s;
}

.login-box:hover {
    border: 1px solid #1BBCF0;
    border-radius: 20px;
}

.dropbox-nav {
    display: none;
    position: absolute;
    text-align: center;
    padding-top: 20px;
}

nav ul li:hover>.dropbox-nav {
    display: block;
}

.dropbox-nav li {
    padding: 2px 0px;
}

.dropbox-nav>li>a {
    display: block;
    transition: .3s;
}

.dropbox-nav>li>a:hover {
    color: var(--SCH-skyblue);
}

/* ----------------------------- */
/* 푸터 */

footer {
    position: relative;
    left: 0%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
}

.footer-box {
    display: flex;
    width: var(--main-width);
    height: 120px;
}

.contact-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-box label {
    font-family: 'IBMPlexSansKR-Bold';
    text-align: center;
    font-size: 33px;
    color: var(--SCH-skyblue);
}

.icons {
    display: flex;
    justify-content: center;
    width: 300px;
}

.icons a i {
    margin: 10px 5px;
    font-size: 20px;
    color: lightgray;
}

.copyright-text {
    font-family: 'IBMPlexSansKR-Light';
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-right: 40%;
}

.copyright-text span {
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px;
}

footer img {
    width: 80px;
    height: 80px;
    margin-top: 15px;
}


/* ----------------------------- */
/* 컨텐츠 */

a {text-decoration: none; outline: none}

a:hover, a:active, a:visited {text-decoration: none; color: #000;}

.title-wrap{
    text-align: center;
}

.page-sub-title{
    /* width: 100%; */
    /* margin: 0 auto; */
    font-size: 32px;
    font-family: 'IBMPlexSansKR-Text';
    border-bottom: 1px solid var(--SCH-skyblue);
}

main {
    width: 100%;
}

/* ------------- 게시글 wrap -------------*/
.content-wrap{ 
    width: var(--main-width);
    height: 250px;
    margin: 0 auto;
    padding: 30px 0;
    
    border-bottom: 1px solid #f4f4f4;
}

/* 썸네일 사진 */
.img-box{
    width: 25%;
    height: 250px;
    margin-right: 50px;
    float: left;
}

.img-box img{
    width: 100%;
    height: 100%;
}

/* 공지사항 글 */

.content-box{
    width: 70%;
    height: 100%;
    float:left;
}

.content-box a:hover{
    color: #F39926;
}

.content-box .sub-title{
    font-family: 'IBMPlexSansKR-Bold';
    font-size: 30px;
    color: #F39926;
    margin-bottom: 3vh;
    height: 20%;
}

.content-box .content{
    font-family: 'IBMPlexSansKR-Light';
    font-size: 20px;
    height: 55%;

    /* 말줄임 */
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

}

.post-meta{
    /* height: %; */
}

.post-meta-item{
    font-family: 'IBMPlexSansKR-Light';
    font-size: 11px;
    color:#999999;
    background: #f4f4f4;
    
    padding:7px 10px 7px 10px;
}