{% extends 'base.html' %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.css">
<link rel="stylesheet" href="{% static 'css/calendar.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">

{% endblock %}

{% block title %}
<title>멋쟁이사자처럼 at 순천향대학교 - Calendar</title>
{% endblock %}

{% block content %}

<!-- small-header - span값에 값넣기. -->
<div id="small-header-wrap">
    <div id="small-header-box">
        <a href="{% url 'notice_list' %}"><span class="small-header-nav">공지사항</span></a>
        <a href="{% url 'session_list' %}"><span class="small-header-nav">세션</span></a>
        <a href="{% url 'calendar' %}"><span class="small-header-nav now-page">캘린더</span></a>
    </div>
</div>

<div class='title-wrap'>
    <span class='page-sub-title'>
        Calendar
    </span>
</div>

<!-- 내용 -->
<div class="main-content">
    <div id="calendar"></div>
</div>
{% endblock %}

{% block script %}
<script src="https://kit.fontawesome.com/54f85ae94e.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- UIUX jquery (main.js) -->
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<!-- FullCalendar -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.js"></script>
<!-- calendar -->
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}