

main {
    overflow-y: hidden;
}

/* 배경 */
#full-page {
    position: relative;
    text-align: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9);
}



/* 기수별 해커톤 활동  속성*/
#hackathon-activity{
    margin: 3vh 0 0 0;
    position: relative;
    text-align: left;
    display: flex;
    justify-content: center;
    background-color: rgb(253, 153, 38, 0);
}

/* 기수별 구분선 설정 */
/* #hackathon-activity:nth-child(2n){
    padding-bottom: 10vh;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
} */


/* 기수 속성 -7th*/
.mem-num-7th{
    padding: 0 2vh 5vh 0;
    height: 30px;
    min-width: 3vh;
    /* border-radius: 4px; */
    display: inline-block;
    font-family: 'IBMPlexSansKR-Light';
    font-size: 40px;
    color: white;
    border-right: solid 10px rgba(27, 188, 240, 0.8);
}

/* 기수 속성 -7th*/
.mem-num-8th{
    padding: 0 2vh 5vh 0;
    height: 30px;
    min-width: 3vh;
    /* border-radius: 4px; */
    display: inline-block;
    font-family: 'IBMPlexSansKR-Light';
    font-size: 40px;
    color: white;
    border-right: solid 10px #BDDA72;
}

/* 각 해커톤 이미지  */
.hackathon-detail-image{
    width: 300px;
    height: 200px;
    margin: 0 3vh 3vh 3vh;
}

/* 각 해커톤 타이틀 */
.hackathon-detail-name{
    display: inline-block;
    font-family: 'IBMPlexSansKR-Text';
    font-size: 35px;
    color: white;
}

/* 각 해커톤 날짜 7th */
.hackathon-detail-date-7th{
    font-size: 20px;
    display: block;
    color:rgba(27, 188, 240, 0.8);
    border-top: 2px solid rgba(27, 188, 240, 0.8);
}

/* 각 해커톤 날짜 8th */
.hackathon-detail-date-8th{
    font-size: 20px;
    display: block;
    color:#BDDA72;
    border-top: 2px solid #BDDA72;
}

.hackathon-detail-box{
    margin: 0 0 0 18vh;
}

.hackathon-detail-info{
    margin-top: 2vh;
    font-family: 'IBMPlexSansKR-Light';
    font-size: 17px;
    color: rgba(255, 255, 255, 0.6);
}

/* 갤러리 연결 7th*/
.to-gallery-7th{
    font-family: 'IBMPlexSansKR-Text';
    font-size: 40px;
    color: white;
}

.to-gallery-7th:hover{
    transition: .3s;
    display: inline-block;
    color: rgba(27, 188, 240, 0.8);
}

/* 갤러리 연결 8th*/
.to-gallery-8th{
    font-family: 'IBMPlexSansKR-Text';
    font-size: 40px;
    color: white;
}

.to-gallery-8th:hover{
    transition: .3s;
    display: inline-block;
    color: #BDDA72;
}