{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/faq.css' %}">
{% endblock %}

{% block title %}
<title>멋쟁이사자처럼 at 순천향대학교 - FAQ</title>
{% endblock %}

{% block content %}

<main>
    <div class='title-wrap'>
        <span class='page-sub-title'>
            FAQ
        </span>
    </div>

    <section id="faq-content">
        <!-- input 체크박스와 질문 label이 같은 값의 id,for를 갖고 있어야 제대로 동작 -->
        <!-- 따라서 질문이 추가될 때마다 q1, q2, q3... 로 id,for 값을 바꿔서 맞춰줘야 함 -->
        <h2>지원</h2>
        <div class="faq-question">
            <input id="q1" type="checkbox" class="panel">
            <div class="plus">+</div>
            <label for="q1" class="question">프로그래밍 동아리라면 컴퓨터 관련 학과만 지원 가능한가요?</label>
            <div class="answer">
                <p>
                    멋쟁이사자처럼의 모토는 "비전공자를 위한 프로그래밍 교육 단체"입니다.<br>
                    그러므로 접근성이 쉬운 웹 프로그래밍 분야로 전체적인 커리큘럼을 구성하며, 수업 자료도 비전공자들도 이해하기 쉽도록 제작하고 있습니다.<br>
                    실제로 2020년도 멋쟁이사자처럼 8기의 경우 국제통상학과, 중국학과, 환경보건학과 등 다양한 비전공자들도 함께 스터디에 참여했습니다.<br>
                    저희는 다양한 전공자들이 모여 만들어내는 '소통'을 강점으로 삼아 운영하고 있습니다.<br>
                    전공에 따른 차이 없이 운영하므로 비전공자도 부담이나 걱정 없이 참여할 수 있습니다!
                </p>
            </div>
        </div>
        <!---------------------------------------------------->
        <div class="faq-question">
            <input id="q2" type="checkbox" class="panel">
            <div class="plus">+</div>
            <label for="q2" class="question">높은 학년인 학생이나 휴학생도 지원 가능한가요?</label>
            <div class="answer">
                <p>
                    네! 멋사는 순천향대학교 소속의 학생이면 모두 가능합니다.<br>
                    멋쟁이사자처럼은 학년, 학번에 따른 불이익이 존재하지 않습니다.<br>
                    단, 방학 중 활동이 가능한 인원, 세션 활동이 무난히 가능한 인원을 위주로 뽑으므로 이를 참고하고 지원해주세요!
                </p>
            </div>
        </div>
        <!---------------------------------------------------->
        <div class="faq-question">
            <input id="q3" type="checkbox" class="panel">
            <div class="plus">+</div>
            <label for="q3" class="question">서류 전형을 합격하는 포인트가 무엇일까요?</label>
            <div class="answer">
                <p>
                    저희는 "잘하는 사람"을 뽑는 것이 아니라, 9개월 간의 달리기를 해야하므로 "열정과 끈기"가 있고 "남다른 아이디어"가 있는 분을 선호합니다.<br>
                    본인의 프로그래밍에 대한 열정, 웹 서비스 개발에 대한 아이디어 등을 어필해주세요!<br>
                    또 본인이 겪은 다양한 팀 프로젝트 및 과제 활동 경험을 진솔하게 적어 멋쟁이사자처럼에서 어떻게 활동할 것인지를 알려주세요!
                </p>
            </div>
        </div>
        <!---------------------------------------------------->
        <div class="faq-question">
            <input id="q4" type="checkbox" class="panel">
            <div class="plus">+</div>
            <label for="q4" class="question">면접에서는 주로 무엇을 물어보나요?</label>
            <div class="answer">
                <p>
                    멋사를 통해 무엇을 얻어가고 싶은지, 자기소개서와 관련된 질문, 전반적인 학교 생활에 대한 질문 등을 위주로 합니다.<br>
                    면접은 멋쟁이사자처럼과 지원자가 어울리는 인물인지를 확인하는 자리일 뿐이니 성실하고 진지하게 준비해주시면 충분합니다!
                </p>
            </div>
        </div>
        <!---------------------------------------------------->
        <h2>모집/활동</h2>
            <div class="faq-question">
                <input id="q5" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q5" class="question">멋쟁이사자처럼 9기 모집 인원은 몇 명이고 날짜는 언제부터인가요?</label>
                <div class="answer">
                    <p>
                        모집 인원은 20명 정도이며, 운영진 포함하여 총 25명으로 운영할 예정입니다.<br>
                        모집 일정은 2월 초부터 모집공고를 내서 2월 말까지 서류/면접을 통해 선발합니다. 일정은 변경 될 수도 있습니다.
                    </p>
                </div>
            </div>
            <!---------------------------------------------------->
            <div class="faq-question">
                <input id="q6" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q6" class="question">활동은 언제부터 언제까지 진행하나요?</label>
                <div class="answer">
                    <p>
                        기본적으로 방학과 학기 중을 포함한 3월부터 12월까지 활동하게 됩니다.
                    </p>
                </div>
            </div>
            <!---------------------------------------------------->
            <h2>규칙</h2>
            <div class="faq-question">
                <input id="q7" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q7" class="question">참여도와 관련된 동아리 규칙이 있을까요?</label>
                <div class="answer">
                    <p>
                        Out제도는 아직 존재하지 않으며, 지각 및 과제 미제출에 대한 벌칙 금액을 정할 예정입니다.<br>
                        팀 프로젝트 관련해서 활동이 많을 예정이기 때문에, 다른 사람들에게 피해를 줄 수 있는 상황이 올 수 있습니다.<br>
                        그러므로 팀 프로젝트에 책임감을 갖고자 부득이하게 정해진 규칙입니다.<br>
                        모인 벌금은 모아서 회식 비용 및 세션 간식 비용으로 사용할 예정입니다.
                    </p>
                </div>
            </div>
            <!---------------------------------------------------->
            <div class="faq-question">
                <input id="q8" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q8" class="question">회비가 따로 있나요?</label>
                <div class="answer">
                    <p>
                        네. "멋쟁이사자처럼 중앙 본부 운영비" 제출을 위한 50000원 회비가 있습니다.<br>
                        이 회비는 아이디어톤, 연합 해커톤 진행과 +강의 제작 및 서버 비용으로 사용됩니다.<br>
                        순천향대학교 멋쟁이사자처럼의 회비는 따로 존재하지 않으며, 자체 해커톤 진행비 등 행사 진행에 대한 회비를 따로 걷을 예정입니다.
                    </p>
                </div>
            </div>
            <!---------------------------------------------------->
            <h2>커리큘럼/세션</h2>
            <div class="faq-question">
                <input id="q9" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q9" class="question">멋쟁이사자처럼 9기 커리큘럼은 어떻게 되나요?</label>
                <div class="answer">
                    <p>
                        아이디어톤 및 UI 프로젝트를 거쳐 아이디어를 도출하고, 웹퍼블리싱 과정과 파이썬 기초 과정을 1학기에 수료하게 됩니다.<br>
                        방학 기간 동안은 웹 프레임워크(Django) 교육과 간단한 토이 프로젝트를 통해 실력을 키워 해커톤에 대한 준비를 합니다.<br>
                        2학기에는 최종적으로 멋사 전국 연합 해커톤 참여를 준비하며 심화된 내용을 다룰 예정입니다.
                    </p>
                </div>
            </div>
            <!---------------------------------------------------->
            <div class="faq-question">
                <input id="q10" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q10" class="question">세션은 어떻게 진행하나요? 요일은 언제인가요?</label>
                <div class="answer">
                    <p>
                        세션은 오후 7시~9시 정도 시간대에 진행할 것으로 예상 중입니다.<br>
                        학기 중에는 주 1회 2시간 세션이 이루어질 예정이며 세션이 끝날 때마다 과제를 부여합니다.<br>
                        방학 중에는 주 2회 총 6시간 세션을 진행할 예정입니다.<br>
                        기본적으로 학교 강의실 및 스터디룸을 통해 오프라인 세션을 진행합니다. 요일은 아직 미정입니다.
                    </p>
                </div>
            </div>
            <!---------------------------------------------------->
            <div class="faq-question">
                <input id="q11" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q11" class="question">방학에도 세션이 진행되나요?</label>
                <div class="answer">
                    <p>
                        네. 세션의 경우, 커리큘럼에서 가장 중요한 파트는 방학 중에 진행될 예정이며 방학 중 일정 참여에 지장이 있으면 멋사 활동이 어렵습니다.
                    </p>
                </div>
            </div>
            <!---------------------------------------------------->
            <h2>기타</h2>
            <div class="faq-question">
                <input id="q12" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q12" class="question">실제 웹 서비스를 만들 수 있을 정도의 실력이 생길까요?</label>
                <div class="answer">
                    <p>
                        방학 때 웹프레임워크 교육 과정과 토이 프로젝트를 성실하게 진행하고 커리큘럼을 잘 따라왔다면,<br>
                        활동이 끝나갈 무렵에는 자신의 아이디어를 가지고 나만의 웹 서비스를 만들 수 있을 것이라고 자부합니다.<br>
                    </p>
                </div>
            </div>
            <!---------------------------------------------------->
    </section>
</main>

{% endblock %}