{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/notice.css' %}">
{% endblock %}

{% block title %}
<title>멋쟁이사자처럼 at 순천향대학교 - Notice</title>
{% endblock %}

{% block content %}

<!-- small-header - span값에 값넣기. -->
<div id="small-header-wrap">
    <div id="small-header-box">
        <a href="{% url 'notice_list' %}"><span class="small-header-nav now-page">공지사항</span></a>
        <a href="{% url 'session_list' %}"><span class="small-header-nav">세션</span></a>
    </div>
</div>

<div class='title-wrap'>
    <span class='page-sub-title'>
        NOTICE
    </span>
</div>

<!-- NOTICE PAGE -->
<main>
    <!-- 내용 -->
    <div class='content-wrap'>
        <!-- 이미지 박스 -->
        <div class='img-box'>
            <img src="{% static 'image/LOGO.png' %}" alt="SN" />
        </div>
        <!-- 내용 박스 -->
        <div class='content-box'>
            <!-- 제목 -->
            <a href="{% url 'notice_detail' %}">
                <h3 class='sub-title'>멋쟁이사자처럼 at 순천향대학교 9기 최종 합격 발표</h3>
                <p class='content'>
                    안녕하세요. 멋쟁이 사자처럼 at 순천향대학교 대표 최민석 입니다.
                    9기 최종 합격 발표를 안내드립니다. 모두들 수고하셨습니다!
                    첨부 파일을 확인하시면 되겠습니다. 지원해주신 모든 분들에게 감사드립니다.
                </p>
            </a>
            <div class='post-meta'>
                <span class='post-meta-item'>2020. 11. 22</span>
                <span class='post-meta-item'>대표</span>
            </div>
        </div>
    </div>

    <!-- 내용 -->
    <div class='content-wrap'>
        <!-- 이미지 박스 -->
        <div class='img-box'>
            <img src="{% static 'image/LOGO.png' %}" alt="SN" />
        </div>
        <!-- 내용 박스 -->
        <div class='content-box'>
            <!-- 제목 -->
            <a href="{% url 'notice_detail' %}">
                <h3 class='sub-title'>멋쟁이사자처럼 at 순천향대학교 9기 최종 합격 발표</h3>
                <p class='content'>
                    안녕하세요. 멋쟁이 사자처럼 at 순천향대학교 대표 최민석 입니다.
                    9기 최종 합격 발표를 안내드립니다. 모두들 수고하셨습니다!
                    첨부 파일을 확인하시면 되겠습니다. 지원해주신 모든 분들에게 감사드립니다.
                </p>
            </a>
            <div class='post-meta'>
                <span class='post-meta-item'>2020. 11. 22</span>
                <span class='post-meta-item'>대표</span>
            </div>
        </div>
    </div>

    <!-- 내용 -->
    <div class='content-wrap'>
        <!-- 이미지 박스 -->
        <div class='img-box'>
            <img src="{% static 'image/LOGO.png' %}" alt="SN" />
        </div>
        <!-- 내용 박스 -->
        <div class='content-box'>
            <!-- 제목 -->
            <a href="{% url 'notice_detail' %}">
                <h3 class='sub-title'>멋쟁이사자처럼 at 순천향대학교 9기 최종 합격 발표</h3>
                <p class='content'>
                    안녕하세요. 멋쟁이 사자처럼 at 순천향대학교 대표 최민석 입니다.
                    9기 최종 합격 발표를 안내드립니다. 모두들 수고하셨습니다!
                    첨부 파일을 확인하시면 되겠습니다. 지원해주신 모든 분들에게 감사드립니다.
                </p>
            </a>
            <div class='post-meta'>
                <span class='post-meta-item'>2020. 11. 22</span>
                <span class='post-meta-item'>대표</span>
            </div>
        </div>
    </div>

    <div class="content-footer">
        <ul class="content-footer-nav">
            <a href="#">
                <li class="content-footer-link"><span><i class="fas fa-caret-left"></i></span></li>
            </a>
            <a href="#">
                <li class="content-footer-link">1</li>
            </a>
            <a href="#">
                <li class="content-footer-link">2</li>
            </a>
            <a href="#">
                <li class="content-footer-link">3</li>
            </a>
            <a href="#">
                <li class="content-footer-link"><span><i class="fas fa-caret-right"></i></span></li>
            </a>
        </ul>
    </div>

</main>

{% endblock %}