{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/notice.css' %}">
<link rel="stylesheet" href="{% static 'css/pagination.css' %}">
{% endblock %}

{% block title %}
<title>멋쟁이사자처럼 at 순천향대학교 - Notice</title>
{% endblock %}

{% block content %}

<!-- small-header - span값에 값넣기. -->
<div id="small-header-wrap">
    <div id="small-header-box">
        <a href="{% url 'notice_list' %}"><span class="small-header-nav now-page">공지사항</span></a>
        <a href="{% url 'session_list' %}"><span class="small-header-nav">세션</span></a>
    </div>
</div>

<div class='title-wrap'>
    <span class='page-sub-title'>
        NOTICE
    </span>
</div>

<!-- NOTICE PAGE -->
<main>
    <!-- 내용 -->
    {% for notice in notices %}
    <div class='content-wrap'>
        <!-- 이미지 박스 -->
        <div class='img-box'>
            <img src="{% static 'image/LOGO.png' %}" alt="SN" />
        </div>
        <!-- 내용 박스 -->
        <div class='content-box'>
            <!-- 제목 -->
            <a href="{% url 'notice_detail' notice.notice_id %}">
                <h3 class='sub-title'>{{ notice.title }}</h3>
                <p class='content'>
                    {{ notice.contents }}
                </p>
            </a>
            <div class='post-meta'>
                <span class='post-meta-item'>{{ notice.date }}</span>
                <span class='post-meta-item'>대표</span>
            </div>
        </div>
    </div>
    {% endfor %}


    <!-- <div class="content-footer">
        <ul class="content-footer-nav">
            <a href="#">
                <li class="content-footer-link"><span><i class="fas fa-caret-left"></i></span></li>
            </a>
            <a href="#">
                <li class="content-footer-link">1</li>
            </a>
            <a href="#">
                <li class="content-footer-link">2</li>
            </a>
            <a href="#">
                <li class="content-footer-link">3</li>
            </a>
            <a href="#">
                <li class="content-footer-link"><span><i class="fas fa-caret-right"></i></span></li>
            </a>
        </ul>
    </div> -->

    <div class="pagination-wrap">
        <div class="pagination">
            {% if notices.has_previous %}
            <div><a href="?page={{ notices.previous_page_number }}"><i class="fas fa-long-arrow-alt-left"></i>
                    prev</a></div>
            {% else %}
            <div> </div>
            {% endif %}

            <div><span>{{ notices.number }} / {{ notices.paginator.num_pages }}</span></div>

            {% if notices.has_next %}
            <div><a href="?page={{ notices.next_page_number }}">next <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
            {% else %}
            <div> </div>
            {% endif %}
        </div>
    </div>

</main>

{% endblock %}