{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/notice_detail.css' %}">
{% endblock %}

{% block title %}
<title>멋쟁이사자처럼 at 순천향대학교 - Notice</title>
{% endblock %}

{% block content %}

<!-- 서브 타이틀 필요 하신분은 그대로 쓰시고 아니면 지우시고 하시면 됩니다. -->
<div class='title-wrap'>
    <span class='page-sub-title'>
        NOTICE
    </span>
</div>

<!-- 내용 -->
<div class='content-wrap'>
    <h2 id='board-title'>{{ notice.title }}</h2>
    <div class='board-nav-box'>
        <div class='post-meta'>
            <span class='post-meta-item'>{{ notice.date }}</span>
            <span class='post-meta-item'>{{ notice.author }}</span>
        </div>
        <div class='board-nav'>
            {% if permission == 'manager' %}
            <a href="{% url 'notice_update' notice.notice_id %}"><span class="board-nav-item">수정</span></a>
            <a href="{% url 'notice_delete' notice.notice_id %}"><span class="board-nav-item">삭제</span></a>
            {% endif %}
        </div>
    </div>

    <div class='board-content-wrap'>
        <img id="board-img" src="{{ notice.image }}" alt="테스트사진" />
        <div class="board-content">
            <!-- 제목이랑 같음. -->
            <div class='board-header'>
                <span id='board-sub-title'>{{ notice.title }}</span>
                <a href='{{ notice.file }}' download><span id='download-link'>첨부 파일 다운로드</span></a>
            </div>
            <p class="content">
                {{ notice.contents }}
            </p>
        </div>
    </div>

    <div class="board-footer">
        <ul class="footer-nav">
            {% if prev_notice != None %}
            <a href="{% url 'notice_detail' prev_notice.notice_id %}">
                <li class="footer-nav-link">
                    <span class="footer-nav-btn"><i class="fas fa-caret-left"></i></span>
                    <!-- 여기 게시글 title 들어가야함!  -->
                    {{ prev_notice.title }}
                </li>
            </a>

            {% else %}
            <div></div>
            {% endif %}
            {% if next_notice != None %}
            <a href="{% url 'notice_detail' next_notice.notice_id %}">
                <li class="footer-nav-link">
                    <!-- 여기 게시글 title 들어가야함!  -->
                    {{ next_notice.title }}
                    <span class="footer-nav-btn"><i class="fas fa-caret-right"></i></span>
                </li>
            </a>
            {% else %}
            <div></div>
            {% endif %}
        </ul>
    </div>

</div>

{% endblock %}