

main {
    overflow: scroll;
}

/* 배경 */
#full-page {
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
}

#hackathon-title {
    font-family: 'IBMPlexSansKR-Text';
    font-size: 30px;
    color: #F39926;
    position: relative;
    display: inline-block;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/* 해커톤 설명부분 div */
.hackathon-info-div {
    display: inline-block;
}

/* 해커톤 설명부분 p */
.hackathon-info-p {
    padding: 2vh;
    position: relative;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 5px;
}

/* 해커톤 설명부분 text */
.hackathon-info {
    position: relative;
    font-family: 'IBMPlexSansKR-Light';
    font-size: 16px;
    color: white;
    display: inline-block;
    text-align: left;
}

/* 해커톤 설명 두 번째 거  */

.hackathon-info2 {
    font-family: 'IBMPlexSansKR-Light';
    font-size: 16px;
    color: #BDDA72;
    position: relative;
    margin-top: 2vh;
    display: inline-block;
    text-align: left;   
}

/* 이미지 설정 */
.hackathon-image-group {
    display: flex;
    justify-content: center;
    padding-bottom: 6vh;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.hackathon-image{
    padding: 4vh 2vh 0.3vh 2vh;
    height: 180px;
    width: 280px;
    position: relative;
}

.hackathon-image-box{
    text-align: center;
}

.img-info{
    position: relative;
    font-family: 'IBMPlexSansKR-Light';
    font-size: 14px;
    color:rgb(255, 255, 255, 0.8);
}

/* 기수별 해커톤 활동  속성*/
#hackathon-activity{
    margin-top: 3vh;
    position: relative;
    text-align: left;
    display: flex;
    justify-content: center;
    background-color: rgb(253, 153, 38, 0);
}

/* 기수별 구분선 설정 */
#hackathon-activity:nth-child(2n){
    padding-bottom: 10vh;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}


/* 기수 속성 */
.mem-num{
    padding: 0 1vh 0 1vh;
    margin-right: 3vh;
    height: 45px;
    min-width: 3vh;
    border-radius: 4px;
    display: inline-block;
    font-family: 'IBMPlexSansKR-Light';
    font-size: 30px;
    color: black;
    background-color: rgb(253, 153, 38, 0.8);
}

/* 각 해커톤 이미지  */
.hackathon-detail-image{
    width: 65vh;
    height: 35vh;
    margin: 0 3vh 0 3vh;
}

/* 각 해커톤 타이틀 */
.hackathon-detail-name{
    display: inline-block;
    font-family: 'IBMPlexSansKR-Text';
    font-size: 40px;
    color: white;
}

/* 각 해커톤 날짜 */
.hackathon-detail-date{
    font-size: 20px;
    display: block;
    color:#BDDA72;
    border-top: 2px solid #BDDA72;
}

.hackathon-detail-box{
    margin: 0 0 0 15vh;
}

.hackathon-detail-info{
    margin-top: 2vh;
    font-family: 'IBMPlexSansKR-Light';
    font-size: 17px;
    color: rgba(255, 255, 255, 0.6);
}

/* 갤러리 연결 */
.to-gallery{
    font-family: 'IBMPlexSansKR-Text';
    font-size: 40px;
    color: white;
}

.to-gallery:hover{
    display: inline-block;
    color: rgba(27, 188, 240, 0.8);
}