{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/etc.css' %}">
<link rel="stylesheet" href="{% static 'css/fullpage.min.css' %}">
<script src="{% static 'js/fullpage.min.js' %}"></script>
{% endblock %}

{% block title %}
<title>멋쟁이사자처럼 at 순천향대학교 - Activity</title>
{% endblock %}

{% block content %}

<!--small-header - span값에 값넣기. -->
<div id="small-header-wrap">
    <div id="small-header-box">
        <!-- 링크에 각각 해당하는 경로 설정 -->
        <a href="{% url 'study' %}"><span class="small-header-nav">스터디</span></a>
        <a href="{% url 'hackathon' %}"><span class="small-header-nav">해커톤</span></a>
        <a href="{% url 'ideathon' %}"><span class="small-header-nav">아이디어톤</span></a>
        <a href="{% url 'etc' %}"><span class="small-header-nav now-page">연합행사</span></a>
    </div>
</div>
<!-- --------------base cut line----------------  -->
<main>
    <div id="full-page">
        <!-- ---------기수별 해커톤 사진, 설명---------  -->
        <!-- 7기 -->
        <div class="section">
            <!-- 왼쪽에 사진 있는 activity  -->
            <div id="hackathon-activity">
                <span class="mem-num-7th">7기</span>
                <img class="hackathon-detail-image" src="{% static 'image/activity-7thetc.jpg' %}" alt="etc">

                <div>
                    <span class="hackathon-detail-name to-gallery-7th">하프톤</span>
                    <span class="hackathon-detail-date-7th">2019.05.04-05.05</span>
                    <p class="hackathon-detail-info">
                        충남권 대학 연합 해커톤인 하프톤이 개최되었습니다. 순천향대, 선문대, 단국대 천안 세
                        학교가 참여했으며, 무박 2일로 아이디어를 내고, 이를 실제 서비스로 구현하는 과정을
                        거쳐 최종 서비스를 만들어냈습니다.
                    </p>
                </div>
            </div>
            <!-- 오른쪽에 사진 있는 activity  -->
            <div id="hackathon-activity">
                <div class="hackathon-detail-box">
                    <span class="hackathon-detail-name to-gallery-7th">어흥콘</span>
                    <span class="hackathon-detail-date-7th">2019.10.27</span>
                    <p class="hackathon-detail-info">
                        용산 상상라운지에서 멋쟁이 사자처럼의 6개 대학(순천향대, 한국교통대, 성균관대, 건양대, 남서울대, 고려대 세종)의
                        연합 컨퍼런스 어흥콘이 개최되었습니다. 다양한 강연과 라이트닝 톡, 네트워킹 세션을 통해 어른 사자로 훌쩍 성장하였습니다.
                    </p>
                </div>
                <img class="hackathon-detail-image" src="{% static 'image/activity-7thlion.JPG' %}" alt="etc">
            </div>
        </div>
        <!-- 8기 -->
        <!-- 왼쪽에 사진 있는 activity  -->
        <div class="section">
            <div id="hackathon-activity">
                <span class="mem-num-8th">8기</span>
                <img class="hackathon-detail-image" src="{% static 'image/activity-8th-withsunmoon2.jpg' %}" alt="etc">

                <div>
                    <span class="hackathon-detail-name to-gallery-8th">해커톤 with 선문대</span>
                    <span class="hackathon-detail-date-8th">2019.10.31-11.01</span>
                    <p class="hackathon-detail-info">
                        선문대와의 연합 해커톤이 개최되었습니다. 무박 2일로 진행되었으며, 기간동안
                        아두이노와 웹 프로그래밍을 결합하여 새로운 서비스를 만들어내는 과정을 거쳤습니다.

                    </p>
                </div>
            </div>
            <!-- 오른쪽에 사진 있는 activity  -->
            <div id="hackathon-activity">
                <div class="hackathon-detail-box">
                    <p class="hackathon-detail-info">
                        순천향대 멋쟁이 사자처럼 8기의 아기사자들이 다른 학교와 함께 진행하는 첫 연합 해커톤인만큼, 모두
                        밤을 새어가며 서비스를 만들어내는 등 최선을 다해 해커톤에 참여했습니다.
                    </p>
                </div>
                <img class="hackathon-detail-image" src="{% static 'image/activity-withsunmoon.png' %}" alt="etc">
            </div>
        </div>
    </div>
</main>
<!-- --------------base cut line----------------  -->
{% endblock %}

{% block script %}
<script>
    new fullpage('#full-page', {
        //options here
        licenseKey: '',
        sectionColor: ['red', 'red', 'red']
    });
</script>
{% endblock %}