{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/Ideathon.css' %}">
<link rel="stylesheet" href="{% static 'css/fullpage.min.css' %}">
<script src="{% static 'js/fullpage.min.js' %}"></script>
{% endblock %}

{% block title %}
<title>멋쟁이사자처럼 at 순천향대학교</title>
{% endblock %}

{% block content %}

<!--small-header - span값에 값넣기. -->
<div id="small-header-wrap">
    <div id="small-header-box">
        <!-- 링크에 각각 해당하는 경로 설정 -->
        <a href="{% url 'study' %}"><span class="small-header-nav">스터디</span></a>
        <a href="{% url 'hackathon' %}"><span class="small-header-nav">해커톤</span></a>
        <a href="{% url 'ideathon' %}"><span class="small-header-nav now-page">아이디어톤</span></a>
        <a href="{% url 'etc' %}"><span class="small-header-nav">연합행사</span></a>
    </div>
</div>
<!-- --------------base cut line----------------  -->
<main>
    <div id="full-page">
        <div class="section">
            <div id="hackathon-content">
                <p>
                    <span id="hackathon-title">IDEATHON?</span>
                </p>
                <div class="hackathon-info-div">
                    <p class="hackathon-info-p">
                        <span class="hackathon-info">
                            아이디어톤(Idea + marathon)이란 제한된 시간 내에 아이디어를 도출하여 발표하는 대회를 말합니다.
                            아이디어톤을 통하여 아이디어를 구체화 시키고, 이를 구현해내는 과정을 거칩니다.
                        </span>
                    </p>
                </div>
                <div class="hackathon-info-p2">
                    <p>
                        <span class="hackathon-info2">
                            순천향대 멋쟁이 사자처럼에서는 자체 아이디어톤을 진행하며, 공식 아이디어톤 사이트를 통해
                            자신의 아이디어를 직접 사이트에 올리고 다른 학교 학생들과 피드백을 주고 받을 수 있습니다.
                        </span>
                    </p>
                </div>
                <div class="hackathon-image-group">
                    <div class="hackathon-image-box">
                        <img class="hackathon-image" src="{% static 'image/activity-8th-ideathon2.jpg' %}"
                            alt="ideathon">
                        <span class="img-info"><br>2020.05 아이디어톤</span>
                    </div>
                    <div class="hackathon-image-box">
                        <img class="hackathon-image" src="{% static 'image/activity-ieathon1.jpg' %}" alt="ideathon">
                        <span class="img-info"><br>2020.05 아이디어톤</span>
                    </div>
                    <div class="hackathon-image-box">
                        <img class="hackathon-image" src="{% static 'image/activity-8th-ideathon3.jpg' %}"
                            alt="ideathon">
                        <span class="img-info"><br>2020.05 아이디어톤</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---------기수별 해커톤 사진, 설명---------  -->
        <!-- 7기 -->
        <!-- 왼쪽에 사진 있는 activity  -->
        <!-- <div class="section">
                        <div id="hackathon-activity"> 
                            <span class="mem-num-7th">7기</span>
                            <img class="hackathon-detail-image" src="../../image/2019_hackathon.jpg">

                            <div>
                                <a href="#">
                                    <span class="hackathon-detail-name to-gallery-7th">2019 해커톤</span>
                                </a>
                                <span class="hackathon-detail-date-7th">2019.11.30-2019.12.01</span>
                                <p class="hackathon-detail-info">
                                    해커톤을 열심히 열심히 영차영차 영차영차 했씁니다. <br>
                                    해커톤은 정말 힘들고 재밌는 활동이에요 <br>
                                    영차영차! 영차 ! 영차! 영차영차! 영차 ! 영차! 영차<br>
                                    영차! 영차 ! 영차! 
                                </p>
                            </div>
                        </div> -->
        <!-- 오른쪽에 사진 있는 activity  -->
        <!-- <div id="hackathon-activity"> 
                            <div class="hackathon-detail-box">
                                <a href="#">
                                    <span class="hackathon-detail-name to-gallery-7th">2019 피닉스톤</span>
                                </a>
                                <span class="hackathon-detail-date-7th">2020.11.30-2020.12.01</span>
                                <p class="hackathon-detail-info">
                                    해커톤을 열심히 열심히 영차영차 영차영차 했씁니다. <br>
                                    해커톤은 정말 힘들고 재밌는 활동이에요 <br>
                                    영차영차! 영차 ! 영차! 영차영차! 영차 ! 영차! 영차<br>
                                    영차! 영차 ! 영차! 
                                </p>
                            </div>
                            <img class="hackathon-detail-image" src="../../image/curri-background.jpg">
                        </div>
                    </div> -->
        <!-- 8기 -->
        <!-- 왼쪽에 사진 있는 activity  -->
        <div class="section">
            <div id="hackathon-activity">
                <span class="mem-num-8th">8기</span>
                <img class="hackathon-detail-image" src="{% static 'image/activity-8th-ideathon2.jpg' %}"
                    alt="ideathon">

                <div>
                    <span class="hackathon-detail-name to-gallery-8th">아이디어톤 </span>
                    <span class="hackathon-detail-date-8th">2020.05-2020.06</span>
                    <p class="hackathon-detail-info">
                        멋쟁이 사자처럼 8기 아기사자들이 처음 모여 아이디어톤이 개최되었습니다.
                        각 조별로 아이디어에 대하여 의논하고, 이를 어떤 서비스로 완성시킬지 또한 생각해보는 시간을 가졌습니다.
                    </p>
                </div>
            </div>
            <!-- 오른쪽에 사진 있는 activity  -->
            <div id="hackathon-activity">
                <div class="hackathon-detail-box">
                    <!-- <a href="#">
                                    <span class="hackathon-detail-name to-gallery-8th">2020 공식 아이디어톤</span>
                                </a>
                                <span class="hackathon-detail-date-8th">2020.11.30-2020.12.01</span> -->
                    <p class="hackathon-detail-info">
                        2주 동안 진행된 공식 온라인 아이디어톤은 다른 학교들과 함께 진행되었습니다.
                        각 아이디어를 아이디어톤 공식 페이지에 올리고, 댓글로 피드백을 주고 받으며 다른 학교와 소통하였습니다.
                    </p>
                </div>
                <img class="hackathon-detail-image" src="{% static 'image/activity-ieathon1.jpg' %}" alt="ideathon">
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script>
    new fullpage('#full-page', {
        //options here
        licenseKey: '',
        sectionColor: ['red', 'red', 'red']
    });
</script>
{% endblock %}