<!--화이트 버전으로 만든 페이지. 블랙 or 화이트로 변경 상의 필요-->
{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/study.css' %}">
<link rel="stylesheet" href="{% static 'css/fullpage.min.css' %}">
<script src="{% static 'js/fullpage.min.js' %}"></script>
{% endblock %}

{% block title %}
<title>멋쟁이사자처럼 at 순천향대학교</title>
{% endblock %}

{% block content %}

<!--small-header - span값에 값넣기. -->
<div id="small-header-wrap">
    <div id="small-header-box">
        <!-- 링크에 각각 해당하는 경로 설정 -->
        <a href="{% url 'study' %}"><span class="small-header-nav now-page">스터디</span></a>
        <a href="{% url 'hackathon' %}"><span class="small-header-nav">해커톤</span></a>
        <a href="{% url 'ideathon' %}"><span class="small-header-nav">아이디어톤</span></a>
        <a href="{% url 'etc' %}"><span class="small-header-nav">연합행사</span></a>
    </div>
</div>
<!-- --------------base cut line----------------  -->
<main>
    <div id="full-page">
        <!-- ---------기수별 해커톤 사진, 설명---------  -->
        <!-- 7기 -->
        <!-- 왼쪽에 사진 있는 activity  -->
        <div class="section">
            <div id="hackathon-activity">
                <span class="mem-num-7th">7기</span>
                <img class="hackathon-detail-image" src="{% static 'image/activity-7th-study1.jpg' %}" alt="study">

                <div>
                    <span class="hackathon-detail-name to-gallery-7th">Session 1</span>
                    <span class="hackathon-detail-date-7th">2019.03-2019.06</span>
                    <p class="hackathon-detail-info">
                        1학기 동안 UI/UX, HTML/CSS, Python, Django 등 웹 프로그래밍을 위한 지식들을 배웁니다.
                        세션은 일주일에 1~2회 진행되며, 멋쟁이 사자처럼 운영진들의 세세한 개인 지도가 이루어집니다.
                    </p>
                </div>
            </div>
            <!-- 오른쪽에 사진 있는 activity  -->
            <div id="hackathon-activity">
                <div class="hackathon-detail-box">
                    <span class="hackathon-detail-name to-gallery-7th">Session 2</span>
                    <span class="hackathon-detail-date-7th">2019.07-2019.12</span>
                    <p class="hackathon-detail-info">
                        방학과 2학기에는 공식 세션과 함께 단체/개인 스터디 및 프로젝트 활동이 진행됩니다.
                        1학기에 배운 내용을 바탕으로 한 여러 활동을 통해 큰 실력 향상을 기대할 수 있습니다.
                    </p>
                </div>
                <img class="hackathon-detail-image" src="{% static 'image/activity-7th-study2.jpg' %}" alt="study">
            </div>
        </div>
        <!-- 8기 -->
        <!-- 왼쪽에 사진 있는 activity  -->
        <div class="section">
            <div id="hackathon-activity">
                <span class="mem-num-8th">8기</span>
                <img class="hackathon-detail-image" src="{% static 'image/activity-8th-study1.jpg' %}" alt="study">

                <div>
                    <span class="hackathon-detail-name to-gallery-8th">Session 1</span>
                    <span class="hackathon-detail-date-8th">2020.03-2020.06</span>
                    <p class="hackathon-detail-info">
                        1학기 동안 UI/UX, HTML/CSS, Python, Django 등 웹 프로그래밍을 위한 지식들을 배웁니다.
                        세션은 일주일에 1~2회 진행되며, 멋쟁이 사자처럼 운영진들의 세세한 개인 지도가 이루어집니다.
                    </p>
                </div>
            </div>
            <!-- 오른쪽에 사진 있는 activity  -->
            <div id="hackathon-activity">
                <div class="hackathon-detail-box">
                    <span class="hackathon-detail-name to-gallery-8th">Session 2</span>
                    <span class="hackathon-detail-date-8th">2020.07-2020.12</span>
                    <p class="hackathon-detail-info">
                        방학과 2학기에는 공식 세션과 함께 단체/개인 스터디 및 프로젝트 활동이 진행됩니다.
                        1학기에 배운 내용을 바탕으로 한 여러 활동을 통해 큰 실력 향상을 기대할 수 있습니다.
                    </p>
                </div>
                <img class="hackathon-detail-image" src="{% static 'image/activity-8th-study2.jpg' %}" alt="study">
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block script %}
<script>
    new fullpage('#full-page', {
        //options here
        licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
        sectionColor: ['red', 'red', 'red']
    });
</script>
{% endblock %}