#main-content h2 {
    color: var(--SCH-skyblue);
}

#main-content button {
    border: 1px solid var(--SCH-skyblue);
    background: white;
    color: var(--SCH-skyblue);
}

#main-content button:hover {
    background: var(--SCH-skyblue);
    color: white;
}