#main-content h2 {
    color: #AAD047;
}

#main-content button {
    border: 1px solid #AAD047;
    background: white;
    color: #AAD047;
}

#main-content button:hover {
    background: #AAD047;
    color: white;
}