/* ----------------------------- */
/* 컨텐츠 */

#main-bg {
    width: 100%;
    height: 700px;
    background: url('../../image/about_img.png') no-repeat center fixed;
    background-size: cover;
    margin: 0 auto;
}

#small-header-box {
    width: 60% !important;
}

.text-box {
    width: var(--main-width);
    margin: 0 auto;
    padding: 350px 0 0 30px;
    color: white;
    text-shadow: 1px 2px 3px #000;
}

.text-box h1 {
    font-family: 'IBMPlexSansKR-Bold';
    font-size: 43px;
}

.text-box span {
    font-family: 'IBMPlexSansKR-Light';
}

.text-box b {
    font-family: 'IBMPlexSansKR-Text';
}

.text-box span:first-of-type,
.text-box b:first-of-type {
    font-size: 22px;
}

.text-box span,
.text-box b {
    font-size: 19px;
}