/* 폰트 정의 - Light, Text, Bold */

@font-face {
    font-family: 'IBMPlexSansKR-Text';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Text.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 드롭다운 메뉴 자연스럽게 해주는 속성 */

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translate(0%, -30%);
        background-color: rgba(256, 256, 256, 0%);
    }

    to {
        opacity: 1;
        transform: translate(0%, 0%);
        background-color: rgba(256, 256, 256, 95%);
    }
}

/* ----------------------------- */

:root {
    --main-width: 1100px;
    --SCH-skyblue: #1BBCF0;
}

body {
    min-width: 1000px;
}

/* 헤더 */

header {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: var(--main-width);
    /* background-color: aliceblue; */
}

.header-box img {
    width: 112px;
    height: 40px;
    margin: 10px;
    padding: 5px 0 0 0;
}

nav {
    padding: 10px 0 0 0;
}

nav ul li {
    font-family: 'IBMPlexSansKR-Light';
    display: inline-block;
    padding: 10px 5px;
    font-size: 18px;
    position: relative;
}

nav ul li::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--SCH-skyblue);
    transition: .5s;
}

nav ul li:hover::after {
    width: 30%;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.login-box {
    font-family: 'IBMPlexSansKR-Light';
    color: black;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0%);
    padding: 5px 10px;
    border-radius: 20px;
    transition: .4s;
}

.login-box:hover {
    border: 1px solid #1BBCF0;
    border-radius: 20px;
}

.dropbox-nav {
    display: none;
    position: absolute;
    text-align: center;
    padding-top: 20px;
    background-color: rgba(256, 256, 256, 95%);
    animation: fade-in .9s;
}

nav ul li:hover>.dropbox-nav {
    display: block;
}

.dropbox-nav li {
    padding: 2px 0px;
}

.dropbox-nav>li>a {
    display: block;
    transition: .3s;
}

.dropbox-nav>li>a:hover {
    color: var(--SCH-skyblue);
}

/* ----------------------------- */
/* 푸터 */

footer {
    position: relative;
    left: 0%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    background-color: #f8f8f8;
}

.footer-box {
    display: flex;
    width: var(--main-width);
    height: 120px;
    margin-top: 20px;
}

.contact-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-box label {
    font-family: 'IBMPlexSansKR-Bold';
    text-align: center;
    font-size: 33px;
    color: var(--SCH-skyblue);
}

.icons {
    display: flex;
    justify-content: center;
    width: 300px;
}

.icons a i {
    margin: 10px 5px;
    font-size: 20px;
    color: lightgray;
}

.copyright-text {
    font-family: 'IBMPlexSansKR-Light';
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-right: 40%;
}

.copyright-text span {
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px;
}

footer img {
    width: 80px;
    height: 80px;
    margin-top: 15px;
}


/* ----------------------------- */
/* 컨텐츠 */

a {
    text-decoration: none;
    outline: none;
    color: #000;
}

a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: #000;
}

.title-wrap {
    text-align: center;
    margin: 5vh 0;
}

.page-sub-title {
    display: inline-block;
    font-size: 26px;
    border-bottom: 2px solid var(--SCH-skyblue);
    font-family: 'IBMPlexSansKR-Text';
}

main {
    width: 100%;
}

/* ----------------------------- */
/* 스몰 헤더 */

/* 스몰 헤더 전체 사이즈 */
#small-header-wrap {
    width: 100%;
    margin: 0 auto;
    /* 테두리 */
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

/* 스몰 헤더 - 아이템 적용 사이즈 */
#small-header-box {
    /* width 및 position 설정 */
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding: 8px 0;
    /* container item 속성 */
    justify-content: space-around;
}

/* 스몰 헤더 - 링크 글자 크기 */
#small-header-box a .small-header-nav {
    font-size: 18px;
    font-family: 'IBMPlexSansKR-Light';
}

/* 스몰 헤더 - 링크 글자 크기 */
#small-header-box a:hover {
    color: var(--SCH-skyblue);
}

/* 스몰 헤더 - 현재 페이지 표시 (글자 bold) */
.now-page {
    font-family: 'IBMPlexSansKR-Text' !important;
}