@font-face {
    font-family: 'IBMPlexSansKR-Text';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Text.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-width: 1100px;
    --SCH-skyblue: #1BBCF0;
}

* {
    text-decoration: none;
}

.pagination {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 300px;
    margin: 80px 0px 100px 0px;
    font-family: 'IBMPlexSansKR-Text';
}

.pagination>div {
    width: 100px;
}

.paginator>div>span {
    font-size: 22px;
    color: var(--SCH-skyblue);
    cursor: default;
}

.pagination>div>button {
    font-size: 17px;
    background: white;
    transition: .2s;
    outline: none;
}

.pagination>div>button:hover {
    color: var(--SCH-skyblue);
}