{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/staff.css' %}">
{% endblock %}

{% block title %}
<title>멋쟁이사자처럼 at 순천향대학교</title>
{% endblock %}

{% block content %}

<!-- small-header - span값에 값넣기. -->
<div id="small-header-wrap">
    <div id="small-header-box">
        <a href="{% url 'about' %}"><span class="small-header-nav">멋쟁이사자처럼이란?</span></a>
        <a href="{% url 'staff' %}"><span class="small-header-nav now-page">멋쟁이사자처럼 at 순천향대학교 운영진</span></a>
        <a href="{% url 'history' %}"><span class="small-header-nav">주요 연혁</span></a>
        <a href="{% url 'developer' %}"><span class="small-header-nav">만든 사람들</span></a>
    </div>
</div>
<!--------------------------------->

<main>
    <!-- 단체 이미지 부분 -->
    <section id="staff-group">
        <span>멋쟁이사자처럼 at 순천향대학교 9기 운영진</span>
    </section>
    <!--------------------------------->
    <section id="staff-info-section">
        <!-- 개인 프로필 부분 -->
        <div class="staff-profile">
            <div class="staff-img">
                <img src="{% static 'image/minseok_choi.jpeg' %}" alt="staff profile img" />
                <div class="staff-description">
                    <p>코로나보다<br>무서운 내 취업<br>- 최민석</p>
                </div>
            </div>
            <div><b>대표 </b><span>최민석</span></div>
            <b>컴퓨터웨어공학과 16학번</b>
            <span>멋쟁이사자처럼 8기 운영진</span>
            <div class="staff-contacts">
                <a href="https://www.instagram.com/min_sgy/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                <a href="https://github.com/minsgy" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="https://velog.io/@minsgy" target="_blank"><i class="fas fa-book"></i></a>
            </div>
        </div>
        <!--------------------------------->
        <div class="staff-profile">
            <div class="staff-img">
                <img src="{% static 'image/yulhee_kim.png' %}" alt="staff profile img" />
                <div class="staff-description">
                    <p>오늘 걷지 않으면<br>내일은 뛰어야 한다<br>- 김율희</p>
                </div>
            </div>
            <div><b>선생님 </b><span>김율희</span></div>
            <b>사물인터넷공학과 17학번</b>
            <span>멋쟁이사자처럼 8기 활동</span>
            <div class="staff-contacts">
                <a href="https://www.instagram.com/yulludy/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                <a href="https://github.com/yulhee741" target="_blank"><i class="fab fa-github-square"></i></a>
            </div>
        </div>
        <!--------------------------------->
        <div class="staff-profile">
            <div class="staff-img">
                <img src="{% static 'image/sehwan_choi.png' %}" alt="staff profile img" />
                <div class="staff-description">
                    <p>정신이 육체를 지배한다<br>- 최세환</p>
                </div>
            </div>
            <div><b>선생님 </b><span>최세환</span></div>
            <b>컴퓨터공학과 18학번</b>
            <span>DSC 2기 활동</span>
            <div class="staff-contacts">
                <a href="https://github.com/Mactto" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="https://velog.io/@mactto3487" target="_blank"><i class="fas fa-book"></i></a>
            </div>
        </div>
        <!--------------------------------->
        <div class="staff-profile">
            <div class="staff-img">
                <img src="{% static 'image/yumin_ha.png' %}" alt="staff profile img" />
                <div class="staff-description">
                    <p>잠은 죽어서 자자<br>- 하유민</p>
                </div>
            </div>
            <div><b>선생님 </b><span>하유민</span></div>
            <b>의용메카트로닉스공학과 19학번</b>
            <span>멋쟁이사자처럼 8기 활동</span>
            <div class="staff-contacts">
                <a href="https://www.instagram.com/um_i_in/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                <a href="https://github.com/qhahd78" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="https://velog.io/@qhahd78" target="_blank"><i class="fas fa-book"></i></a>
            </div>
        </div>
        <!--------------------------------->
        <div class="staff-profile">
            <div class="staff-img">
                <img src="{% static 'image/minseo_kang.png' %}" alt="staff profile img" />
                <div class="staff-description">
                    <p>10%의 확신과<br>90%의 어 이게 왜 되지?<br>- 강민서</p>
                </div>
            </div>
            <div><b>선생님 </b><span>강민서</span></div>
            <b>컴퓨터공학과 20학번</b>
            <span>멋쟁이사자처럼 8기 활동</span>
            <div class="staff-contacts">
                <a href="https://www.instagram.com/mseo.39/" target="_blank"><i class="fab fa-instagram-square"></i></a>
                <a href="https://github.com/mseo39" target="_blank"><i class="fab fa-github-square"></i></a>
                <a href="https://velog.io/@mseo39" target="_blank"><i class="fas fa-book"></i></a>
            </div>
        </div>

    </section>
</main>
{% endblock %}