{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/gallery_create.css' %}">
{% endblock %}

{% block title %}
<title>멋쟁이사자처럼 at 순천향대학교 - Gallery</title>
{% endblock %}

{% block content %}

    <main>

        <!-- 서브 타이틀 -->
        <div class='title-wrap'>
            <span class='page-sub-title'>
                GALLERY
            </span>
        </div>

        <!-- form -->

        <div class="main-wrap">
            <form class="form-box" method="post" action="{% url 'gallery_update' gallery.gallery_id %}">
                {% csrf_token %}
                <div class="title-box">
                    <p>제목</p>
                    <input id="namebox" name="title" type="text">
                </div>
                <div class="date-box">
                    <p>날짜</p>
                    <input type="date" name="created_at">
                </div>
                <div class="link-box">
                    <p>장소</p>
                    <input type="text" name="place" placeholder="ex. 순천향대학교 ML304 ( 미디어랩스 304호 )">
                </div>
                <div class="explanation-box">
                    <p>설명</p>
                    <div>
                        <img id="myimg" style="width: 300px; height: 300px;"> <label id="UpProgress"></label> <br><br>
                        <button type="button" id="select" style="font-size:18px; background-color: white; border: 0px;">이미지 고르기</button><br><br>
                        <button type="button" id="upload" style="font-size:18px; background-color: white; border: 0px;">선택 완료</button>
                    </div>

                    <textarea name="contents" cols="40" rows="100"></textarea>
                </div>
                <input id="myimg-url" name="image_url" type="hidden">
                <input type="submit" value="SUBMIT">
            </form>


        </div>

        <!-- ------- -->


    </main>
{% endblock %}

{% block script %}
<script id="MainScript">
    var ImgName, ImgUrl;
    var files = [];
    var reader;

    // Firebase 초기화
    if (!firebase.apps.length) {
        const firebaseConfig = {
            apiKey: "AIzaSyA3NMvkdpSoKYsPPkNgDtrppzurxOMJbQQ",
            authDomain: "likelion-sch.firebaseapp.com",
            databaseURL: "https://likelion-sch.firebaseio.com/",
            projectId: "likelion-sch",
            storageBucket: "likelion-sch.appspot.com",
            messagingSenderId: "654141769540",
            appId: "1:654141769540:web:c744ef4d2df58003093911",
            measurementId: "G-PXNX9ZZCEN"
        };

        firebase.initializeApp(firebaseConfig);
    }

    document.getElementById("select").onclick = function(e){
        var input = document.createElement('input');
        input.type='file';

        input.onchange = e => {
            files = e.target.files;
            reader = new FileReader();
            reader.onload = function(){
                document.getElementById("myimg").src = reader.result;
            }
            reader.readAsDataURL(files[0]);
        }
        input.click();


    }

    document.getElementById('upload').onclick = function(){
        ImgName = document.getElementById('namebox').value;
        var uploadTask = firebase.storage().ref('Images/'+ImgName+".png").put(files[0]);

        uploadTask.on('state_changed',function(snapshot){
            var progress = (snapshot.bytesTranferred / snapshot.totalBytes) * 100
            document.getElementById('UpProgress').innerHTML = 'Upload';
        },

        function(error){
            alert('error in saving the image');
        },

        function(){
            uploadTask.snapshot.ref.getDownloadURL().then(function(url){
                ImgUrl = url;
                document.getElementById('myimg-url').value = url;

                firebase.database().ref('Pictures/'+ImgName).set({
                    Name: ImgName,
                    Link: ImgUrl
                });
                alert("image upload success!");
            }
            );
    });

    document.getElementById('retrieve').onclick = function(){
        firebase.database().ref('Pictures/'+ImgName).on('value', function(snapshot){
            document.getElementById('myimg').src = snapshot.val.Link;
        });
    }
}
</script>
{% endblock %}