{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/gallery_create.css' %}">
{% endblock %}

{% block title %}
<title>멋쟁이사자처럼 at 순천향대학교</title>
{% endblock %}

{% block content %}

<main>

    <!-- 서브 타이틀 -->
    <div class='title-wrap'>
        <span class='page-sub-title'>
            GALLERY
        </span>
    </div>

    <!-- form -->

    <div class="main-wrap">
        <form class="form-box" method="post" action="{% url 'gallery_update' generation gallery.gallery_id %}">
            {% csrf_token %}
            <div class="title-box">
                <p>제목</p>
                <input id="namebox" name="title" type="text">
            </div>
            <div class="date-box">
                <p>날짜</p>
                <input type="date" name="created_at">
            </div>
            <div class="link-box">
                <p>기수</p>
                <input style="border:none; padding:0px 0px 0px 3px; font-size:17px" type="text" name="ordinal_num"
                    value={{generation}} readonly>
            </div>
            <div class="link-box">
                <p>행사</p>
                <select name="event">
                    <option value="ideathon" selected="selected">Ideathon</option>
                    <option value="hackathon">Hackathon</option>
                    <option value="session">Session</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="link-box">
                <p>장소</p>
                <input type="text" name="place" placeholder="ex. 순천향대학교 ML304 ( 미디어랩스 304호 )">
            </div>
            <div class="explanation-box">
                <p>설명</p>
                <div>
                    첨부이미지 : <input type="file" class="js-fileElem" multiple accept="notice/*" style="display:none">
                    <input name="image_url" id="file" style="display:none">
                    <a href="#" class="js-fileSelect">Select some files</a><br>
                    <label id="UpProgress"></label> <br><br>
                </div>

                <textarea name="contents" cols="40" rows="100"></textarea>
            </div>
            <input type="submit" value="SUBMIT">
        </form>


    </div>

    <!-- ------- -->


</main>
{% endblock %}


{% block script %}
<script id="MainScript">
    (() => {
        if (!firebase.apps.length) {
            const firebaseConfig = {
                apiKey: "AIzaSyA3NMvkdpSoKYsPPkNgDtrppzurxOMJbQQ",
                authDomain: "likelion-sch.firebaseapp.com",
                databaseURL: "https://likelion-sch.firebaseio.com/",
                projectId: "likelion-sch",
                storageBucket: "likelion-sch.appspot.com",
                messagingSenderId: "654141769540",
                appId: "1:654141769540:web:c744ef4d2df58003093911",
                measurementId: "G-PXNX9ZZCEN"
            };

            firebase.initializeApp(firebaseConfig);
        }

        const storage = firebase.storage();

        const storageRef = storage.ref();

        const imagesRef = storageRef.child('Notice');

        const spaceRef = imagesRef.child('space.jpg');

        const fileSelect = document.querySelector('.js-fileSelect');
        const fileElem = document.querySelector('.js-fileElem');

        fileSelect.addEventListener('click', (e) => {
            e.preventDefault();

            if (fileElem) {
                fileElem.click();
            }
        });

        fileElem.addEventListener('change', (e) => {
            console.log(e.target.files);

            const fileUploads = Array.from(e.target.files).map((currFile) => {
                const fileRef = imagesRef.child(currFile.name);
                fileRef.put(currFile).then(function (snapshot) {
                    snapshot.ref.getDownloadURL().then(function (url) {
                        document.getElementById('file').value = url;
                        document.getElementById('UpProgress').innerHTML = 'Upload';
                    });
                });
            });

            Promise.all(fileUploads).then((items) => {
                console.log(items);
            });

        });

    })();
</script>
{% endblock %}