{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/th_gallery_board.css' %}">
{% endblock %}

{% block title %}
<title>멋쟁이사자처럼 at 순천향대학교</title>
{% endblock %}

{% block content %}

<!--

    기수당 갤러리_디테일 페이지
    
 -->

<main>
    <!--소제목-->
    <div class='title-wrap'>
        <span class='page-sub-title'>
            GALLERY
        </span>
    </div>
    <div class="board_title">
        <span class="mem-num-8th">{{ generation }}</span>
        <!--게시물 추가하는 버튼-->
        <span class="circle">
            {% if permission == 'manager' %}
            <a href="{% url 'gallery_create' generation %}"><i class="fas fa-plus-circle"></i></a>
            {% endif %}
        </span>
    </div>
    <!--컨텐츠 시작-->
    <div class="board_content">
        <!--기수-->
        <div>
            <!--detail 게시물로 이동하는..시작-->

            <div class="card-container">

                <!--postcard 반복-->

                <div class="postcard">
                    <a class="post_title" href="#">아이디어톤</a>
                    <div class="post_image">
                        <a href="#">
                            <img src="{{ idea }}" alt="idea_img.jpg">
                        </a>
                    </div>
                </div>

                <div class="postcard">
                    <a class="post_title" href="#">해커톤</a>
                    <div class="post_image">
                        <a href="#">
                            <img src="{{ hacka }}" alt="hacka_img.jpg">
                        </a>
                    </div>
                </div>

                <div class="postcard">
                    <a class="post_title" href="#">세션</a>
                    <div class="post_image">
                        <a href="#">
                            <img src="{{ session }}" alt="session_img.jpg">
                        </a>
                    </div>
                </div>

                <div class="postcard">
                    <a class="post_title" href="#">그 외 행사</a>
                    <div class="post_image">
                        <a href="#">
                            <img src="{{ other }}" alt="other_img.jpg">
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!--컨텐츠 끝-->
</main>

<script src="https://kit.fontawesome.com/54f85ae94e.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- <script src="script/jquery-1.12.3.js"></script> -->
<script src="main.js"></script>
</body>

{% endblock %}