/* 폰트 정의 - Light, Text, Bold */

@font-face {
    font-family: 'IBMPlexSansKR-Text';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Text.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------------- */

:root {
    --main-width: 1100px;
    --SCH-skyblue: #1BBCF0;
}

body {
    min-width: 1000px;
}

/* 헤더 */

header {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: var(--main-width);
    /* background-color: aliceblue; */
}

.header-box img {
    width: 112px;
    height: 40px;
    margin: 10px;
    padding: 5px 0 0 0;
}

nav {
    padding: 10px 0 0 0;
}

nav ul li {
    font-family: 'IBMPlexSansKR-Light';
    display: inline-block;
    padding: 10px 5px;
    font-size: 18px;
    position: relative;
}

nav ul li::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--SCH-skyblue);
    transition: .5s;
}

nav ul li:hover::after {
    width: 30%;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.login-box {
    font-family: 'IBMPlexSansKR-Light';
    color: black;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0%);
    padding: 5px 10px;
    border-radius: 20px;
    transition: .4s;
}

.login-box:hover {
    border: 1px solid #1BBCF0;
    border-radius: 20px;
}

.dropbox-nav {
    display: none;
    position: absolute;
    text-align: center;
    padding-top: 20px;
}

nav ul li:hover>.dropbox-nav {
    display: block;
}

.dropbox-nav li {
    padding: 2px 0px;
}

.dropbox-nav>li>a {
    display: block;
    transition: .3s;
}

.dropbox-nav>li>a:hover {
    color: var(--SCH-skyblue);
}

/* ----------------------------- */
/* 푸터 */

footer {
    position: relative;
    left: 0%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
}

.footer-box {
    display: flex;
    width: var(--main-width);
    height: 120px;
}

.contact-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-box label {
    font-family: 'IBMPlexSansKR-Bold';
    text-align: center;
    font-size: 33px;
    color: var(--SCH-skyblue);
}

.icons {
    display: flex;
    justify-content: center;
    width: 300px;
}

.icons a i {
    margin: 10px 5px;
    font-size: 20px;
    color: lightgray;
}

.copyright-text {
    font-family: 'IBMPlexSansKR-Light';
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-right: 40%;
}

.copyright-text span {
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px;
}

footer img {
    width: 80px;
    height: 80px;
    margin-top: 15px;
}


/* ----------------------------- */
/* 컨텐츠 */

.content {
    margin: 0 auto;
    width: var(--main-width);
    height: 400px;
    background-color: aliceblue;
}

/* 여기서 부터 gallery_main----------------------------- */

/* 모든 내용을 포함하는, 가운데로 정렬하려고 */
.main_content{
    margin-top: 30px;
    margin-left: 450px;
    margin-bottom: 30px;
}

/* th_card간의 간격이 너무 넓어서, 좁혀주는 역할 */
.th_card {
    height: 330px;
}

/* th가 적힌 사각형 */
.th_square{
    width: 180px;
    height: 130px;
    background-color:#AAD047;
    line-height: 130px;
    font-size: 40px;
    text-align: center;
    font-family: 'IBMPlexSansKR-Text';
    color: white;

}

/* more이 적힌 사각형 */
.more_square{
    width: 180px;
    height: 130px;
    background-color:white;
    line-height: 130px;
    text-align: center;
    position: static;
}

/* more 폰트 */
.more_square a{
    text-decoration: none;
    color: #007A85;
    font-size: 30px;
    font-family: 'IBMPlexSansKR-Text';
}

/* more 색강 변경 */
.more_square a:hover{
    color: #F39926;
}

/* .more_square(static), 옆에 두기 위함 */
.img_square{
    width: 500px;
    height: 260px;
    background-color:#a3a3a3;
    font-family: 'IBMPlexSansKR-Text';
    color: white;
    position: relative;
    top: -260px;
    left: 180px;
}

