/* 폰트 정의 - Light, Text, Bold */

@font-face {
    font-family: 'IBMPlexSansKR-Text';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Text.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 드롭다운 메뉴 자연스럽게 해주는 속성 */

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translate(0%, -30%);
        background-color: rgba(256, 256, 256, 0%);
    }

    to {
        opacity: 1;
        transform: translate(0%, 0%);
        background-color: rgba(256, 256, 256, 95%);
    }
}

/* ----------------------------- */

:root {
    --main-width: 1100px;
    --SCH-skyblue: #1BBCF0;
}

body {
    min-width: 1000px;
}

/* 헤더 */

header {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: var(--main-width);
    /* background-color: aliceblue; */
}

.header-box img {
    width: 112px;
    height: 40px;
    margin: 10px;
    padding: 5px 0 0 0;
}

nav {
    padding: 10px 0 0 0;
}

nav ul li {
    font-family: 'IBMPlexSansKR-Light';
    display: inline-block;
    padding: 10px 5px;
    font-size: 18px;
    position: relative;
}

nav ul li::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--SCH-skyblue);
    transition: .5s;
}

nav ul li:hover::after {
    width: 30%;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.login-box {
    font-family: 'IBMPlexSansKR-Light';
    color: black;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0%);
    padding: 5px 10px;
    border-radius: 20px;
    transition: .4s;
}

.login-box:hover {
    border: 1px solid #1BBCF0;
    border-radius: 20px;
}

.dropbox-nav {
    display: none;
    position: absolute;
    text-align: center;
    padding-top: 20px;
    background-color: rgba(256, 256, 256, 95%);
    animation: fade-in .9s;
}

nav ul li:hover>.dropbox-nav {
    display: block;
}

.dropbox-nav li {
    padding: 2px 0px;
}

.dropbox-nav>li>a {
    display: block;
    transition: .3s;
}

.dropbox-nav>li>a:hover {
    color: var(--SCH-skyblue);
}

/* ----------------------------- */
/* 푸터 */

footer {
    position: relative;
    left: 0%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    background-color: #f8f8f8;
}

.footer-box {
    display: flex;
    width: var(--main-width);
    height: 120px;
    margin-top: 20px;
}

.contact-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-box label {
    font-family: 'IBMPlexSansKR-Bold';
    text-align: center;
    font-size: 33px;
    color: var(--SCH-skyblue);
}

.icons {
    display: flex;
    justify-content: center;
    width: 300px;
}

.icons a i {
    margin: 10px 5px;
    font-size: 20px;
    color: lightgray;
}

.copyright-text {
    font-family: 'IBMPlexSansKR-Light';
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-right: 40%;
}

.copyright-text span {
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px;
}

footer img {
    width: 80px;
    height: 80px;
    margin-top: 15px;
}

a{
    text-decoration: none;
}
/* ----------------------------- */
/* 컨텐츠 */

.title-wrap {
    text-align: center;
    margin: 3vh 0;
}

.page-sub-title {
    display: inline-block;
    font-size: 26px;
    border-bottom: 2px solid var(--SCH-skyblue);
    font-family: 'IBMPlexSansKR-Text';
}

main {
    width: 100%;
}

/* ----------------------------- */
/* 스몰 헤더 */

/* 스몰 헤더 전체 사이즈 */
#small-header-wrap {
    width: 100%;
    margin: 0 auto;
    /* 테두리 */
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

/* 스몰 헤더 - 아이템 적용 사이즈 */
#small-header-box {
    /* width 및 position 설정 */
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding: 8px 0;
    /* container item 속성 */
    justify-content: space-around;
}

/* 스몰 헤더 - 링크 글자 크기 */
#small-header-box a .small-header-nav {
    font-size: 18px;
    font-family: 'IBMPlexSansKR-Light';
}

/* 스몰 헤더 - 링크 글자 크기 */
#small-header-box a:hover {
    color: var(--SCH-skyblue);
}

/* 스몰 헤더 - 현재 페이지 표시 (글자 bold) */
.now-page {
    font-family: 'IBMPlexSansKR-Text' !important;
}

.title-wrap {
    text-align: center;
    margin-bottom: 10px;
}

.page-sub-title {
    display: inline-block;
    font-size: 26px;
    border-bottom: 2px solid var(--SCH-skyblue);
    font-family: 'IBMPlexSansKR-Text';
}

/* ----------------------------- */
/* 컨텐츠 */

.content {
    margin: 0 auto;
    width: var(--main-width);
    height: 400px;
    background-color: aliceblue;
}

/* 여기서 부터 th_gallery_board----------------------------- */

/* 모든 내용을 포함하는 */
.board_content{
    margin: 0 auto;
    width: var(--main-width);
    height: 10000;
    align-items: center;
}

/* post 제목+사진 */
.postcard {
    height: 300px;
    width: 200px;
    display: inline-block;
    border-radius:20px 20px 20px 20px;
    margin-bottom: 20px;
    margin-top: 10px;
   
    box-shadow: 3px 3px 2px #aaa;
    border: 2px solid #e4e4e4;
}

/*post 제목+사진 그림자*/
.postcard:hover {
    box-shadow: 5px 5px 5px #aaa;
    transition: 0.9s;
}

/* post 제목+사진 링크 */
.postcard a{
    text-decoration: none;
}

/* post 제목 기본 스타일, highlight */
.post_title{
    font-size: 20px;
    font-family: 'IBMPlexSansKR-Text';
    color: black;
    border-radius:20px 20px 20px 20px;
}



/* post 제목+사진 마진값을 줘서 그림자와 postcard의 간격을 좁힘*/
.postdetail{
    margin: 9px;
}

/* th 스타일 */
.th_title{
    font-size: 30px;
    color: #007A85;
    font-family: 'IBMPlexSansKR-Bold';
    text-decoration: none;
    margin-left: 10px;
    position: static;
}

.board_title{
    display: flex;
    justify-content: space-between;
    width: var(--main-width);
    margin: 0 auto;
}

/* 게시물 추가하는 버튼 */
.circle{
    text-align: right;
    font-size: 40px;
}

.circle a{
    color: black;
}

.circle a:hover{
    color: #1BBCF0;
    transition: 0.3s;
}

/* 기수 표시 */
.mem-num-8th{
    padding: 0 2vh 5vh 0;
    height: 14px;
    min-width: 3vh;
    /* border-radius: 4px; */
    display: inline-block;
    font-family: 'IBMPlexSansKR-Text';
    font-size: 40px;
    color: black;
    border-right: solid 10px #1BBCF0;
}
.board_content {
    margin: 0 auto;
    width: var(--main-width);
    height: auto;
}

img {
    width: 100%; 
    height: auto;
  }

  .card-container {
    display: flex;
    justify-content: space-between;

    margin: 2vh 0 5vh;

  }


  .postcard {

    margin: 5vh auto;

    position: relative;
    line-height: 290px;
    text-align: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }

  .post_image {
    line-height: 0;
    overflow: hidden;

    height: 100%;
  }

  .post_title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    font-family: 'IBMPlexSansKR-Light';
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: white;
}

  .postcard:hover .post_title {
    opacity: 1;
  }

  .postcard:hover .post_image img {
    filter: blur(2px);
  }