{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/assignment_create.css' %}">
{% endblock %}

{% block title %}
<title>멋쟁이사자처럼 at 순천향대학교 - Assignment</title>
{% endblock %}

{% block content %}

<main>
    <!-- 서브 타이틀 필요 하신분은 그대로 쓰시고 아니면 지우시고 하시면 됩니다. -->
    <div class='title-wrap'>
        <span class='page-sub-title'>
            ASSIGNMENT
        </span>
    </div>

    <!-- form -->

    <div class="main-wrap">
        <form class="form-box" method="POST" action="{% url 'assignment_update' assignment.assignment_id %}">
            {% csrf_token %}
            <div class="title-box">
                <p>제목</p>
                <input type="text" name="title" value="{{ assignment.title }}" required>
            </div>
            <div class="dueto-box">
                <p>마감기한</p>
                <input type="date" name="deadline" value="{{ assignment.deadline }}" required>
                <input type="time" name="">
            </div>
            <div class="ckeditor-box">
                <p>예시 출력 & 부가 설명</p>
                <textarea name="contents" cols="30" rows="10" required>{{ assignment.contents }}</textarea>
            </div>
            <input type="submit" value="SUBMIT">
        </form>
    </div>
</main>
{% endblock %}