{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/assignment_list.css' %}">
<link rel="stylesheet" href="{% static 'css/pagination.css' %}">
{% endblock %}

{% block title %}
<title>멋쟁이사자처럼 at 순천향대학교</title>
{% endblock %}

{% block content %}

<main>
    <!-- 서브 타이틀 필요 하신분은 그대로 쓰시고 아니면 지우시고 하시면 됩니다. -->
    <div class='title-wrap'>
        <span class='page-sub-title'>
            ASSIGNMENT
        </span><br>
        <span class="sub-title-detail">제출 해야 할 과제 목록 입니다. 제한 기간 안에 제출 해주세요.</span>
    </div>

    <!-- 과제 목록 보여주는 부분 -->

    <div class="main-wrap">
        <div class="list-box">
            <!-- assignment-create 로 이동하는 링크 -->
            <div class="top-box">
                <form class="search-box" method="POST" action="{% url 'assignment_list' %}">
                    {% csrf_token %}
                    <input type="text" name="keyword" placeholder="과제의 제목으로 검색해주세요">
                    <button><i class="fas fa-search"></i></button>
                </form>

                {% if permission == 'manager' %}
                <a href="{% url 'assignment_create' %}">등록</a>
                {% else %}
                <div></div>
                {% endif %}

            </div>
            <!-- list 제목이 들어가는 공강 -->
            <div class="list-title">
                <p>DUE TO</p>
                <p>TITLE</p>
                <p>AUTHOR</p>
            </div>
            <!-- 리스트 내용이 들어가는공간 -->
            {% for assignment in assignments %}
            <div class="list-body">
                <p>{{ assignment.deadline }}</p>
                <a href="{% url 'assignment_detail' assignment.assignment_id %}">{{ assignment.title }}</a>
                <p>{{ assignment.author_name }}</p>
            </div>
            {% endfor %}
            <!-- ---------------------- -->
        </div>

        <!-- pagination -->
        <div>
            <form class="pagination" action="{% url 'assignment_list' %}" method="POST">
                {% csrf_token %}
                {% if assignments.has_previous %}
                <div><button name="page" value="{{ assignments.previous_page_number }}"><i
                            class="fas fa-long-arrow-alt-left"></i> prev</button></div>
                {% else %}
                <div> </div>
                {% endif %}

                <div><span>{{ assignments.number }} / {{ assignments.paginator.num_pages }}</span></div>

                {% if assignments.has_next %}
                <div><button name="page" value="{{ assignments.next_page_number }}">next <i
                            class="fas fa-long-arrow-alt-right"></i>
                    </button></div>
                {% else %}
                <div> </div>
                {% endif %}
            </form>
        </div>


    </div>
</main>
{% endblock %}