/* 베이스는 base.css 로 연결 했습니다.  */



/* 전체 카드 감싸는 div */
#main-div {
    width: 1100px;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

/* 프로필 카드 각 div */
.profile-div {
    text-align: center;
    width: 250px;
    height: 420px;
    margin: 0 25px 25px 0;
    padding-bottom: 8px;
    border-radius: 10px;

}

.profile-div:hover {
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 5px 5px 5px 5px rgb(184, 184, 184);
}

/* 이름 */
.profile-name {
    font-size: 28px;
    font-family: 'IBMPlexSansKR-Text';

}

/* 전공 */
.major {
    font-family: 'IBMPlexSansKR-Light';
    font-size: 13px;
    margin-bottom: 4px;
    color: #797979;
}

/* 프로필 사진 */
.profile-img {
    border-radius: 10px;
    width: 100%;
    height: 250px;
}

/* 프로필 세부사항 */
.profile-detail {
    font-size: 17px;
    font-family: 'IBMPlexSansKR-Light';
}

/* 버튼 글씨 및 기타 속성 */
.role {
    border: 0;
    border-radius: 8px;
    padding: 2px 5px 2px 5px;
    margin-bottom: 7px;
    font-size: 13px;
    font-family: 'IBMPlexSansKR-Text';
}

/* 백앤드 색상 */
.role-back {
    background-color: #BDDA72;
}

/* 프론트엔드 색상 */
.role-front {
    background-color: rgba(253, 153, 38);
}

/* 풀스택 색상 */
.role-full {
    background-color: var(--SCH-skyblue);
}

/* 팀장 버튼 */
.Leader {
    background-color: cornflowerblue;
}