main {
    width: var(--main-width);
    margin: 0 auto;
}

.login-wrap {
    width: 100%;
    height: 100%;
    text-align: center;
}

.login-wrap form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    margin: 0 auto;
    font-family: "IBMPlexSansKR-Light";
}

.login-wrap form input {
    width: 100%;
    height: 50px;
    padding: 5%;
    margin-bottom: 1vh;
    border: 1px solid #e4e4e4;
    border-radius: 50px;
}

.login-wrap form button {
    width: 100%;
    height: 50px;
    margin-bottom: 1vh;
    background-color: #F39926;

    border-radius: 50px;
    color: white;
    border: 0;
}

.login-wrap form button:hover {
    background: var(--SCH-skyblue);
    border: 1px solid #e4e4e4;
    transition: 0.5s;
}



#login-hr {
    margin: 0 auto;
    margin-top: 3vh;
    display: block;
    width: 35%;
}

.login-description {
    margin: 3vh auto;
    display: flex;

    justify-content: center;
    align-items: center;

    width: 35%;
    height: 120px;

    background-color: var(--SCH-skyblue);

    color: white;
}

.description {
    font-family: "IBMPlexSansKR-Light";
}

.description strong {
    font-family: "IBMPlexSansKR-Text";
}