{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/error.css' %}">
<link rel="stylesheet" href="{% static 'css/404.css' %}">
{% endblock %}

{% block title %}
<title>멋쟁이사자처럼 at 순천향대학교 - Error 404</title>
{% endblock %}

{% block content %}

<main>
    <section id="main-content">
        <h2>404</h2>
        <span>Page not found :(</span>
        <p>
            페이지가 존재하지 않거나, 사용할 수 없는 페이지입니다.<br>
            입력하신 주소가 정확한지 다시 확인해주세요.
        </p>
        <!-- 링크 달아주세요우오우옹 -->
        <a href="{% url 'main' %}"><button>홈으로 이동</button></a>
    </section>
</main>

{% endblock %}