{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}


    <!-- 링크 아이콘 링크-->
    <link rel="shortcut icon" href="{% static 'image/logo-favicon.ico' %}" type="image/x-icon">
    <title>멋쟁이사자처럼 at 순천향대학교</title>


</head>

<body>
    <header>
        <div class="header-box">
            <img src="{% static 'image/mainLogo.png' %}" alt="mainLogo.png">
            <nav>
                <ul>
                    <li><a href="#">ABOUT</a></li>
                    <li>
                        <a href="#">NOTICE</a>
                        <ul class="dropbox-nav">
                            <li><a href="#">calendar</a></li>
                            <li><a href="#">session</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">ACTIVITY</a>
                        <ul class="dropbox-nav">
                            <li><a href="#">curiculum</a></li>
                            <li><a href="#">projects</a></li>
                        </ul>
                    </li>
                    <li><a href="#">GALLARY</a></li>
                    <li><a href="#">ASSIGNMENT</a></li>
                    <li><a href="#">FAQ</a></li>
                    <a class="login-box" href="#">LOGIN</a>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="footer-box">
            <div class="contact-box">
                <label>CONTACT US</label>
                <!-- 인스타, 페북, 오픈카톡 연락처-->
                <div class="icons">
                    <a href="#"><i class="fas fa-comment-dots"></i></a>
                    <a href="#"><i class="fab fa-instagram-square"></i></a>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                </div>
            </div>
            <div class="copyright-text">
                <span>Copyright ©</span> likelion at SCH 8th
            </div>
            <img src="{% static 'image/slogan2.png' %}" alt="slogan2.png">
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/54f85ae94e.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- UIUX jquery (main.js) -->
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script src="script/jquery-1.12.3.js"></script>
    {% block script %}{% endblock %}
</body>

</html>