{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="291486898135-14kbp96om277f1irmrlhcv867cco95j3.apps.googleusercontent.com">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}


    <!-- 링크 아이콘 링크-->
    <link rel="shortcut icon" href="{% static 'image/logo-favicon.ico' %}" type="image/x-icon">
    {% block title %}{% endblock %}


</head>

<body>

    <header>
        <div class="header-box">
            <a href="{% url 'main' %}"><img src="{% static 'image/mainLogo.png' %}" alt="mainLogo.png"></a>
            <nav>
                {% csrf_token %}
                <ul>
                    <li><a href="{% url 'about' %}">ABOUT</a></li>
                    <li><a href="{% url 'notice_list' %}">NOTICE</a></li>
                    <li><a href="{% url 'study' %}">ACTIVITY</a></li>
                    <li><a href="{% url 'gallery_main' %}">GALLARY</a></li>
                    <li><a href="{% url 'assignment_list' %}">ASSIGNMENT</a></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                    <li><button class="login-box" onclick="signIn()">SIGNIN</button></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer>

        <div class="footer-box">
            <div class="contact-box">
                <label>CONTACT US</label>
                <!-- 인스타, 페북, 오픈카톡 연락처-->
                <div class="icons">
                    <a href="#"><i class="fas fa-comment-dots"></i></a>
                    <a href="#"><i class="fab fa-instagram-square"></i></a>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                </div>
            </div>
            <div class="copyright-text">
                <span>Copyright ©</span> likelion at SCH 8th
            </div>
            <img src="{% static 'image/slogan2.png' %}" alt="slogan2.png">
        </div>

    </footer>

    <script src="https://kit.fontawesome.com/54f85ae94e.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- UIUX jquery (main.js) -->
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <!-- sign in with google -->
    <script src="https://apis.google.com/js/platform.js?onload=onGapiLoad" async defer></script>
    <!-- firebase -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-storage.js"></script>
    <!-- base -->
    <script src="{% static 'js/base.js' %}"></script>
    <script>
        // 새로고침, 로그인, 로그아웃 등 상태가 변경되면 트리거
        // @see: https://firebase.google.com/docs/auth/web/manage-users#get_the_currently_signed-in_user
        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                $(".header-box > nav > ul").html(`
                    <li><a href="{% url 'about' %}">ABOUT</a></li>
                    <li><a href="{% url 'notice_list' %}">NOTICE</a></li>
                    <li><a href="{% url 'study' %}">ACTIVITY</a></li>
                    <li><a href="{% url 'gallery_main' %}">GALLARY</a></li>
                    <li><a href="{% url 'assignment_list' %}">ASSIGNMENT</a></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                    <li><a href="#">MYPAGE</a></li>
                    <li><button class="login-box" onclick="signOut()">SIGNOUT</button></li>
                `);
            } else {
                $(".header-box > nav > ul").html(`
                    <li><a href="{% url 'about' %}">ABOUT</a></li>
                    <li><a href="{% url 'notice_list' %}">NOTICE</a></li>
                    <li><a href="{% url 'study' %}">ACTIVITY</a></li>
                    <li><a href="{% url 'gallery_main' %}">GALLARY</a></li>
                    <li><a href="{% url 'assignment_list' %}">ASSIGNMENT</a></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                    <li><button class="login-box" onclick="signIn()">SIGNIN</button></li>
                `);
            }
        });
    </script>
    {% block script %}{% endblock %}
</body>

</html>