{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block title %}
<title>멋쟁이사자처럼 at 순천향대학교</title>
{% endblock %}

{% block content %}
<!-- MAIN CONTENT-->
<main>

    <!-- 홈페이지 소개 배너 -->
    <div class="content">
        <div class="content-main-wrap">
            <div class="content-main-text-wrap">
                <h2 id="content-main-title">멋쟁이사자처럼 <span>at</span> 순천향대학교</h2>
            </div>
            <!-- 홍보 영상 -->
            <video controls muted id="main-video" src="{% static 'image/멋사홍보.mp4' %}" type="video/mp4" autoplay>
            </video>
        </div>
    </div>



    <div class="content">
        <div class="content-about-wrap">
            <h2 class="content-title">ABOUT</h2>

            <div class="content-about">

                <!-- 왼쪽 컨텐츠 요소 -->
                <div id="content-about-left">
                    <h3 id="content-about-guide-title">멋쟁이사자처럼이란?</h3>
                    <p id="content-about-guide-txt">
                        온라인 강의와 오프라인 활동을 통한 <br>체계적인 <strong class='point-letter'>프로그래밍 교육</strong>
                    </p>
                    <p id="content-about-guide-txt2">
                        자신이 <strong class='point-letter'>실현 하고 싶은 서비스를 직접 프로그래밍</strong> 할 수 있는 곳
                    </p>
                </div>

                <!-- 오른쪽 컨텐츠 요소 -->
                <div id="content-about-right">

                    <!-- ABOUT 활동 사진 -->
                    <div id='content-about-img'>
                        <img src="{% static 'image/background.jpg' %}" alt="예시" />
                    </div>

                </div>

                <div id="content-about-center">
                    <!-- 클릭 시, ABOUT의 멋쟁이 사자란? 페이지로 이동하기. -->
                    <button type="button" class="about-btn" onclick="location.href='{% url 'about' %}';">상세 활동</button>
                </div>
            </div>
        </div>
    </div>

    <div class="content">

        <!-- CURRICULUM 태그 -->
        <div class="curriculum-content">
            <p id="curriculum-title-wrap">
                <span id="curriculum-title">CURRICULUM</span>
            </p>
            <!-- Content 커리큘럼 원 요소 div 시작-->
            <div class="circles">
                <div class="circle-div">
                    <div class="circle-green">
                        <a onmouseover="firstTextChange(this)" onmouseout="firstTextChangeAgain(this)"
                            class="circle-text">UI/UX 설계</a>
                    </div>
                    <div class="curri-info">
                        <p class="curri-info-text-title">
                            아이디어 설계
                        </p>

                        <p class="curri-info-text">
                            자신이 직접 구현하고 싶은 서비스를 생각하는 과정입니다.  각 조별로 아이디어를 내고 구현할지 생각하는 시간을 가집니다. 
                        </p>
                    </div>
                </div>
                <div class="circle-div">
                    <div class="circle-green">
                        <a onmouseover="secondTextChange(this)" onmouseout="secondTextChangeAgain(this)"
                            class="circle-text">HTML/CSS</a>
                    </div>
                    <div class="curri-info">
                        <p class="curri-info-text-title">
                            Front-End 구현
                        </p>

                        <p class="curri-info-text">
                           HTML과 CSS의 기초 지식과 UI에 대해 배웁니다. 이 과정을 통해 웹페이지를 구성하고 디자인하는 방법을 배웁니다. </p>
                    </div>
                </div>
                <div class="circle-div">
                    <div class="circle-green">
                        <a onmouseover="ThirdTextChange(this)" onmouseout="ThirdTextChangeAgain(this)"
                            class="circle-text">Python/Django</a>
                    </div>
                    <div class="curri-info">
                        <p class="curri-info-text-title">
                            Back-End 구현
                        </p>

                        <p class="curri-info-text">
                             Python과 Django 를 배웁니다. 이 과정을 통해 웹사이트의 기능을 실제로 구현해낼 수 있습니다.
                        </p>
                    </div>
                </div>
                <div class="circle-div">
                    <div class="circle-orange">
                        <a onmouseover="fourthTextChange(this)" onmouseout="fourthTextChangeAgain(this)"
                            class="circle-text">해커톤</a>
                    </div>
                    <div class="curri-info">
                        <p class="curri-info-text-title">
                            프로젝트 발표
                        </p>

                        <p class="curri-info-text">
                            해커톤, 아이디어톤, 자체 해커톤, 연합행사 등 다양한 프로젝트를 진행하며 실제 개발 경험을 쌓습니다.
                        </p>
                    </div>
                </div>
            </div>
            <!-- 원 div 끝 -->
            <!-- 설명 div 시작 -->
        </div>
        <!-- </div> -->
    </div>

    <div class="content">
        <div class="content-headcount">

            <h2 class="content-title">HEADCOUNT</h2>

            <!-- flex 처리 - 인원 리스트 나열(가로 나열) -->
            <div class="content-headcount-box">
                <div class="content-headcount-item">
                    <h3 class="content-headcount-item-title">누적 활동 인원</h3>
                    <span>68</span>
                </div>
                <div class="content-headcount-item">
                    <h3 class="content-headcount-item-title">현재 활동 인원</h3>
                    <span>18</span>
                </div>
                <div class="content-headcount-item">
                    <h3 class="content-headcount-item-title">2020년도 경쟁률</h3>
                    <span>1:7</span>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="content-project">
            <h2 class="content-title">PROJECT</h2>

            <!-- 카드 컨테이너 -->
            <div class="content-card-wrap">

                <!-- 카드 아이템 -->
                <a href="{% url 'hackathon' %}">
                    <div class="content-card">
                        <!-- 텍스트 박스 -->
                        <div class="content-card-text">
                            <span class="card-title">HACKATHON</span>
                        </div>
                    </div>
                </a>

                <a href="{% url 'ideathon' %}">
                    <!-- 카드 아이템 (background url) -->
                    <div class="content-card">
                        <!-- 텍스트 박스 -->
                        <div class="content-card-text">
                            <span class="card-title">IDEATHON</span>
                        </div>
                    </div>
                </a>
                <!-- 카드 아이템 (background url) -->
                <a href="{% url 'study' %}">
                    <div class="content-card">
                        <!-- 텍스트 박스 -->
                        <div class="content-card-text">
                            <span class="card-title">SESSION</span>
                        </div>
                    </div>
                </a>
                <a href="{% url 'etc' %}">
                    <div class="content-card">
                        <!-- 텍스트 박스 -->
                        <div class="content-card-text">
                            <span class="card-title">OTHER</span>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <div class="content">
        <div class="content-recruit">
            <h2 class="content-title">RECRUIT</h2>
            <h3 class="content-recruit-deadline">
                9기 모집 마감 일자 -
                <!-- deadline-time HTML 입력 시, JS 자동적용 -->
                <!-- yyyy/mm/dd 00:00:00 -->
                <span id='deadline-time'>2020/12/30 12:00:00</span>
            </h3>
            <!-- count-down form -->
            <div class="content-recruit-countdown-wrap">
                <ul id="countdown">
                    <li id="days">
                        <div class="number">00</div>
                        <div class="label">Days</div>
                    </li>
                    <li id="hours">
                        <div class="number">00</div>
                        <div class="label">Hours</div>
                    </li>
                    <li id="minutes">
                        <div class="number">00</div>
                        <div class="label">Minutes</div>
                    </li>
                    <li id="seconds">
                        <div class="number">00</div>
                        <div class="label">Seconds</div>
                    </li>
                </ul>
            </div>
            <div class="recruit-btn-wrap">
                <!-- 클릭 시 멋사 중앙 지원 페이지로 이동 -->
                <button type="button" class='recruit-btn' onclick="location.href='#';">지원하기</button>
            </div>

        </div>
    </div>

</main>

{% endblock %}

{% block script %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}