{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block title %}
<title>멋쟁이사자처럼 at 순천향대학교</title>
{% endblock %}

{% block content %}

<main>

    <!-- 배경 이미지 -->
    <div class="background">
        <img class="background-img" src="{% static 'image/mypage-background.png' %}" alt="mypage-background.png">
    </div>

    <!-- 프로필 사진 -->
    <div class="profile-photo">
        <img src="{{photo}}" alt="LOGO.png">
    </div>

    <!-- 주요 내용 -->
    <div class="main-contents">
        <p class="text-name">{{name}}</p>
        <p class="text-info role">{{generation}} {{permission}}</p>
        <p class="text-info">{{email}}</p>
        <div class="link-btn">
            <a href="{% url 'my_list' %}">제출된 과제</a>
        </div>
    </div>

</main>
{% endblock %}